* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 18px;
	border: none;
	text-align: center;
}

body {
	background-color: #2a2a38;
}

:focus {
	outline: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.booking-container {
	margin: auto;
	width: 1100px;
	max-width: 100%;
}

.header {
	margin-top: 20px;
}

.header__title {
	font-size: 1.8rem;
	font-weight: 500;
	color: #f1f1f1;
}

.example {
	margin: auto;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #f1f1f1;
}

.example__item {
	margin: 0 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.example__icon {
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 50%;
}

.example__icon--not-available {
	background-color: #506970;
}

.example__icon--selected {
	background-color: #00c3e7;
}

.example__icon--available {
	background-color: #d1d1d1;
}

.example__hyphen {
	margin-left: 0.4rem;
	height: 2px;
	width: 8px;
	background-color: #f1f1f1;
}

.example__desc {
	margin-left: 0.4rem;
	display: block;
	font-weight: 100;
}

.cinema {
	margin-top: 30px;
	padding: 20px 10px;
}

.screen__img {
	display: block;
	width: 320px;
	max-width: 100%;
	margin: auto;
}

.hall__seats {
	width: 320px;
	height: 240px;
	max-width: 100%;
	margin: auto;
	margin-top: 10px;
	display: grid;
	grid-template: 1fr 2fr 1fr / repeat(10, 1fr);
}

.hall__seats--front {
	grid-row: 1;
	grid-column: 3 / 9;
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(6, 1fr);
}

.hall__seats--middle {
	grid-row: 2;
	grid-column: 2 / 10;
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(8, 1fr);
}

.hall__seats--back {
	grid-row: 3;
	grid-column: 1 / 11;
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(10, 1fr);
}

.seat {
	cursor: pointer;
}

.seat__icon {
	display: block;
	width: 100%;
	height: 100%;
	background: url(./img/seat.svg) center center / 150% no-repeat;
}

.seat__input:checked + .seat__icon {
	background-image: url(./img/seat-checked.svg);
}

.seat__input:disabled + .seat__icon {
	background-image: url(./img/seat-inactive.svg);
}

.cart {
	margin-top: 20px;
	min-height: 150px;
	padding-top: 20px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #5c5c61;
}

.cart__title {
	width: 100%;
	font-size: 1.4rem;
	font-weight: 300;
	color: #f1f1f1;
}

.cart-btn {
	display: block;
	width: 220px;
	height: 40px;
	font-weight: 300;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.cart-btn--submit {
	margin-top: 20px;
	background-color: #2ea151;
}

.cart-btn--cancel {
	margin-top: 10px;
	background-color: #db504b;
}

.cart__empty {
	margin-top: 20px;
	font-weight: 300;
	font-size: 0.9rem;
	color: #d1d1d1;
}

.cart__tickets {
	margin-top: 10px;
	padding: 0 10px;
}

.cart__total {
	margin-top: 20px;
	color: #f1f1f1;
}

.selected-seats__ticket {
	width: 240px;
	height: 40px;
	margin: 15px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #515158;
	color: #f1f1f1;
	border-radius: 4px;
	box-shadow: 0 8px 6px -6px #000000;
}

.ticket__location,
.ticket__price {
	font-size: 0.9rem;
}

.cart__modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(212, 212, 228, 0.7);
}

.modal__window {
	width: 360px;
	max-width: 100%;
	height: 240px;
	padding-top: 30px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #f1f1f1;
	background-color: #515158;
}

.modal__title {
	font-size: 1.2rem;
	font-weight: 500;
}

.modal__buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.modal__confirm {
	width: 120px;
	margin-right: 20px;
	background-color: #2ea151;
}

.modal__cancel {
	width: 120px;
	background-color: #db504b;
}

@media (min-width: 370px) {
	* {
		font-size: 20px;
	}

	.header {
		margin-top: 30px;
	}

	.example {
		margin-top: 40px;
	}

	.screen__img {
		width: 380px;
	}

	.hall__seats {
		width: 360px;
		height: 280px;
	}
}

@media (min-width: 480px) {
	* {
		font-size: 22px;
	}

	.screen__img {
		width: 580px;
	}

	.hall__seats {
		width: 460px;
		height: 340px;
	}

	.submit-btn {
		width: 320px;
	}
}

@media (min-width: 770px) {
	::-webkit-scrollbar {
		width: 3px;
	}
	::-webkit-scrollbar-track {
		background-color: #444;
	}
	::-webkit-scrollbar-thumb:vertical {
		background-color: #aaa;
	}

	.booking-container {
		height: 610px;
		display: grid;
		grid-template: 1fr 3fr / 2fr 1fr;
	}

	.header {
		grid-column: 1;
		grid-row: 1;
	}

	.cinema {
		padding: 0;
		grid-column: 1;
		grid-row: 2;
	}

	.cart {
		margin-top: 30px;
		grid-column: 2;
		grid-row: 1 / 3;
		height: 560px;
	}

	.cart__tickets {
		overflow-y: auto;
		height: 300px;
		scrollbar-width: thin;
	}
}

@media (min-width: 1000px) {
	:focus {
		border-radius: 3px;
		box-shadow: 0 0 0 2px #c2a500;
	}

	.seat__input:focus + .seat__icon {
		border-radius: 3px;
		box-shadow: 0 0 0 2px #c2a500;
	}

	.seat__icon {
		background-size: 130%;
	}
}

@media (min-width: 1400px) {
	* {
		font-size: 24px;
	}

	.booking-container {
		margin-top: 50px;
	}

	.example {
		padding-top: 40px;
	}

	.screen__img {
		width: 680px;
	}

	.hall__seats {
		width: 540px;
		height: 400px;
	}

	.cart {
		height: 660px;
	}

	.cart__tickets {
		height: 370px;
	}
}
