html {
  background-color: rgb(249, 250, 250);
}

body {
  max-width: 700px;
  height: 100%;
  background-color: rgb(211, 228, 228);
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgb(157, 200, 175);
}

.header__logoImg {
  margin: 0px 10px;
  width: 30px;
  height: 30px;
}

.movie {
  margin: auto;
  width: 90%;
  height: 170px;
  background-color: rgb(226, 224, 192);
}

.movieName {
  margin: 0px;
  padding: 0px 10px;
  line-height: 40px;
}

.movieInfo {
  display: flex;
}

.movieInfo__poster {
  height: 120px;
  margin: 0px 10px;
}

.movieInfo__sessionDescr {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  line-height: 25px;
}

.hall {
  margin: 20px auto;
  width: 90%;
}

.hall__screenImg {
  width: 80%;
  display: block;
  margin: 0px auto;
}

.hall__screenText {
  text-align: center;
  margin: 0px auto;
  color: rgb(112, 112, 112);
}

.seats {
  margin: 70px auto;
  display: grid;
  width: 80%;
  height: 405px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr) 0.5fr 1fr;
  column-gap: 7px;
  row-gap: 15px;
  padding: 0px;
}

.seats__row {
  text-align: center;
  line-height: 40px;
  color: rgb(112, 112, 112);
}

.seats__legend {
  grid-column: span 3;
  line-height: 40px;
}

.seats__emptyRow {
  grid-column: 1 / span 12;
}

.seats__emptySpace_left-2 {
  grid-column: 2 / span 2;
}

.seats__emptySpace_right-2 {
  grid-column: 10 / span 2;
}

.seats__label {
  box-sizing: border-box;
  border-radius: 20%;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}

.seats__label_free,
.seats__label_legendFree {
  background-color: rgb(89, 172, 127);
}

.seats__label_booked,
.seats__label_legendBooked {
  background-color: rgb(100, 29, 20);
}

.seats__input_hidden {
  position: absolute;
  left: -9999px;
}

.seats__input_booked {
  display: none;
}

.seats__label_free:hover {
  cursor: pointer;
  background-color: rgb(236, 242, 243);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.seats__input:focus + .seats__label_free,
.seats__label_free:focus {
  background-color: rgb(236, 242, 243);
}

.seats__label_legendSelected,
.seats__input:checked + .seats__label_free {
  background-color: rgb(105, 167, 179);
}

footer {
  width: 100%;
  height: 80px;
  background-color: rgb(105, 117, 84);
}

.footer__header {
  padding: 15px 10px;
  margin: 0px;
  font-size: 16px;
}

.footer__list {
  list-style-type: none;
  margin: 0px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  .footer__list {
    display: block;
  }

  footer {
    height: 120px;
  }

  .hall {
    height: 400px;
  }
  .movie {
    width: 100%;
  }

  .seats {
    margin: 50px auto;
    height: 245px;
    column-gap: 5px;
    row-gap: 10px;
  }

  .seats__row,
  .seats__legend {
    line-height: 30px;
  }
}

@media screen and (max-width: 450px) {
  .hall {
    height: 300px;
    width: 100%;
  }

  .seats {
    margin: 30px auto;
    height: 165px;
  }

  .seats__row,
  .seats__legend {
    line-height: 20px;
  }
}
