* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 1vw;
    background-color: #A8A8A8;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3vw;
    text-align: center;
}

h2{
    font-size: 2vw;
}

.ticket-legends{
    width: 52vw;
    margin: 3vh auto 4vh;
    display: flex;
    justify-content: center;
}

.ticket-legends > h2 {
    margin: 0 1.5vw;
    align-self: center;
}

.legend-wrapper-unit {
    display: flex;
    justify-content: center;
}

.legend-wrapper-unit > h2 {
    margin: 0px 2vw 0px 1vw;
    align-self: center;
}

.screen{
    width: 52vw;
    margin: 0 auto;
}

.screen > h2{
    width: fit-content;
    margin: 0 auto;
}

.seats {
    display: grid;
    grid-gap: 0.75vw;
    grid-template-columns: repeat(17, 1.9vw);
    grid-template-rows: repeat(8, 2.85vw);
    width: 46.5%;
    margin: 1vh auto 0vh;
    padding: 1vw;
}

.place {
    width: 1.9vw;
    height: 2.85vw;
    background-color: #88d639;
    border-radius: 0.3vw;
    border: 0.1vw solid midnightblue;
}

.taken {
    background-color: darkslategray;
    border: 0.1vw solid darkslategray;
}

.selected {
    background-color: midnightblue;
    border: 0.1vw solid midnightblue;
}

.check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

span.place {
    position: absolute;
    cursor: pointer;
    text-align: center;
    color: whitesmoke;
    line-height: 2.9;
}

.check-input:focus + .place {
    border: 0.1vw solid white;
    background-color: #a7ff4f;
    color: white;
}

.check-input:hover + .place {
    border: 0.1vw solid white;
    background-color: #a7ff4f;
    color: white;
}

.check-input:checked + .place{
    background-color: midnightblue;
}

.check-input:disabled + .place{
    background-color: darkslategray;
    border: 0.1vw solid darkslategray;
}

.range1 {
    grid-column: 4/5;
}

.range2 {
    grid-column: 2/3;
}

.range3 {
    grid-column: 2/3;
}

.range4 {
    grid-column: 3/4;
}

.range5 {
    grid-column: 3/4;
}

.range6 {
    grid-column: 3/4;
}

.range7 {
    grid-column: 2/3;
}

.range8 {
    grid-column: 1/2;
}

.submit-button {
    display: block;
	margin: 2.3vw auto;
	width: 15vw;
	height: 3.5vw;
	font-size: 2em;
	background-color: midnightblue;
	color: whitesmoke;
	border-radius: 0.3vw;
	cursor: pointer;
}

.submit-button,
.submit-button:active,
.submit-button:focus {
    border: none;
}

.submit-button:focus {
    background-color: rgb(63, 63, 150);
    border: 0.1vw solid white;
}

.submit-button:hover {
    background-color: rgb(63, 63, 150);
    border: 0.1vw solid white;
}
