* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    background-color: #161A1D;
    color: #F5F3F4;
}

h1 {
    font-size: 3vw;
    text-align: center;
}

.legend-desc {
    font-size: 2vw;
}

.ticket-legends {
    display: flex;
    justify-content: center;
    width: 52vw;
    margin: 3vh auto 4vh;
}

.ticket-legends>h2 {
    margin: 0 1.5vw;
    align-self: center;
}

.legend-wrapper-unit {
    display: flex;
    justify-content: center;
}

.legend-desc {
    margin: 0px 2vw 0px 1vw;
    align-self: center;
}

.screen {
    width: 52vw;
    margin: 0 auto;
}

.screen>h2 {
    width: fit-content;
    margin: 0 auto;
    text-transform: uppercase;
}

.seats {
    display: grid;
    grid-gap: 0.85vw;
    grid-template-columns: repeat(17, 2vw);
    grid-template-rows: repeat(8, 3vw);
    width: fit-content;
    margin: 1vh auto 0vh;
    padding: 1vw;
}

.place {
    width: 2vw;
    height: 3vw;
    border: 0.1vw solid #B1A7A6;
    border-radius: 0.3vw;
    background-color: #E5383B;
}

.taken {
    border: 0.1vw solid #B1A7A6;
    background-color: #161A1D;
}

.selected {
    border: 0.1vw solid #B1A7A6;
    background-color: #660708;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

span.place {
    position: absolute;
    cursor: pointer;
    text-align: center;
    line-height: 3.2;
    color: whitesmoke;
}

.check-input:focus+.place {
    border: 0.1vw solid white;
    background-color: #BA181B;
    color: #F5F3F4;
}

.check-input:hover+.place {
    border: 0.1vw solid white;
    background-color: #BA181B;
    color: #F5F3F4;
}

.check-input:checked+.place {
    background-color: #660708;
}

.check-input:disabled+.place {
    background-color: #161A1D;
    border: 0.1vw solid #B1A7A6;
}

.range1 {
    grid-column: 4/5;
}

.range2 {
    grid-column: 2/3;
}

.range3 {
    grid-column: 2/3;
}

.range4 {
    grid-column: 3/4;
}

.range5 {
    grid-column: 3/4;
}

.range6 {
    grid-column: 3/4;
}

.range7 {
    grid-column: 2/3;
}

.range8 {
    grid-column: 1/2;
}

.submit-button {
    display: block;
    margin: 2.3vw auto;
    min-width: 15vw;
    height: 3.5vw;
    font-size: 2vw;
    background-color: #BA181B;
    color: whitesmoke;
    border-radius: 0.3vw;
    cursor: pointer;
}

.submit-button {
    border: none;
}

.submit-button:focus {
    background-color: #660708;
    border: 0.1vw solid white;
}

.submit-button:hover {
    background-color: #660708;
    border: 0.1vw solid white;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 6vw;
        margin-bottom: 5vw;
    }

    body {
        font-size: 1.7vw;
    }

    .legend-desc {
        font-size: 4vw;
        margin: 0 4vw 0 2vw;
    }

    .screen {
        width: 78vw;
    }

    .place {
        width: 3vw;
        height: 4.5vw;
    }

    span.place {
        line-height: 2.7;
    }

    .seats {
        grid-gap: 1.2vw;
        grid-template-columns: repeat(17, 3vw);
        grid-template-rows: repeat(8, 4.5vw);
        margin: 2vw auto 5vw auto;
    }

    .submit-button {
        font-size: 4vw;
        min-width: 30vw;
        height: 7vw;
    }

}
