* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

html,
body {
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  width: 1200px;
  padding-top: 20px;
  margin: auto;
  flex-wrap: wrap;
  position: relative;
  transition: 0.1s ease;
  padding-bottom: 20px;
}

#root.hidden {
  transition: 0.3s ease;
  opacity: 0;
}

.floating-card {
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.hidden-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 1250px) {
  #root {
    width: 100%;
  }
  header {
    height: 50px;
    position: sticky;
    top: 0px;
    z-index: 2000;
  }

  .settings-buttons-link {
    height: 50px;
    width: 50px;
  }
  .logo {
    font-size: 20px;
  }
}
