@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
    height: 3px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    box-shadow: 2px 8px 25px -10px rgba(0, 0, 0, 0.07);
    font-size: 23px;
    padding: 20px 8vw;
}

.header__inner {
    max-width: 1300px;
    margin: 0 auto;
}

.navigation {
    min-width: 255px;
}

.navigation__item {
    margin: 0px 20px;
}

.navigation__item a {
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    transition: .2s linear;
}

.navigation__item a:hover,
.navigation__item a:focus {
    outline-style: none;
    border-bottom: 2px solid #a4161a;
}

.logo-img {
    width: 100px;
}

.logo-link:focus,
.logo-link:hover {
    transform: scale(1.05);
}

.film-poster {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 3vw;
    max-width: 1400px;
    margin: 0 auto;
}

.film_img {
    width: 500px;
    min-width: 420px;
    margin-right: 30px;
    order: 1;
    object-fit: contain;
}

.film-info {
    order: 2;
    font-size: 20px;
}

.film-title {
    font-size: 30px;
    color: #ba181b;
}

.film-description {
    line-height: 1.2;
    margin: 18px 0px;
    max-width: 550px;
}

.title {
    margin: 20px 0px;
    font-size: 26px;
    text-align: center;
}

.star {
    width: 15px;
    margin-right: 5px;
}

.timeslot {
    padding: 20px 7vw;
    font-size: 26px;
    background-color: #660708;
    color: #d3d3d3;
}

.timeslot__list {
    max-width: 1100px;
    margin: 10px auto;
}

.timeslot__item {
    margin: 10px 20px;
}

.time_btn {
    font-size: 20px;
    border: none;
    color: inherit;
    background-color: transparent;
    transition: 0.2s linear;
}

.time_btn:hover,
.time_btn:focus {
    cursor: pointer;
    transform: scale(1.2);
}

.cinema-hall-wrapper {
    padding: 20px 3vw;
    max-width: 1400px;
    margin: 0 auto;
}

.cinema-hall {
    max-width: 635px;
    margin: 0 auto;
}

.seats__wrapper {
    width: fit-content;
    margin: 0 auto;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 105px 316px 110px;
    ;
}

.cinema-hall__column {
    height: max-content;
    border: none;
}

.hall-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.seat_template-square {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
}

.seat {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
}

.seat:hover,
.seat:focus,
.seat_checkbox:focus+.seat {
    cursor: pointer;
    border: 1px solid #ba181b;
}

.seat_checkbox {
    position: absolute;
    opacity: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.hall-info__item {
    margin: 0px 5px;
    font-size: 18px;
}

.hall-info__item.checked .seat_template-square,
.seat_checkbox:checked+.seat {
    background-color: #ba181b;
}

.hall-info__item.disabled .seat_template-square,
.seat_checkbox:disabled+.seat {
    background-color: #d3d3d3;
}

.screen {
    margin: 40px 0px 30px 0px;
    width: 100%;
    height: 2px;
    background-color: black;
}

.submit {
    display: block;
    margin: 20px auto 0px auto;
    background-color: #660708;
    border-radius: 5px;
    color: #d3d3d3;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
}

@media screen and (max-width: 800px) {
    .header {
        font-size: 22px;
    }

    .film_img {
        margin-right: 0px;
    }

    .film-poster {
        flex-wrap: wrap;
        justify-content: center;
    }

    .film-description {
        max-width: fit-content;
        ;
    }

    .film-title {
        margin: 20px 0px;
        text-align: center;
    }

    .rating__wrapper {
        text-align: center;
    }
}

@media screen and (max-width: 670px) {
    .header {
        font-size: 20px;
    }

    .navigation__item {
        margin: 0px 10px;
    }

    .timeslot__list {
        overflow-x: scroll;
    }

    .seat {
        width: 37px;
        height: 37px;
    }

    .seats__wrapper {
        max-width: 100%;
        overflow-x: scroll;
        column-gap: 20px;
        grid-template-columns: 80px 245px 80px;
    }
}

@media screen and (max-width: 475px) {
    .logo-img {
        width: 55px;
    }

    .header {
        padding: 20px 10px;
        font-size: 18px;
    }

    .film_img {
        min-width: 310px;
    }

    .film-description {
        font-size: 16px;
    }

    .seat {
        width: 27px;
        height: 27px;
    }

    .seats__wrapper {
        column-gap: 12px;
        grid-template-columns: 58px 180px 58px;
    }
}
