.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-template-areas: "header" "sidebar" "content" "footer";
  background-image: linear-gradient(to top right, red, #fbb3ae);
}

.header {
  background-color: #f32617;
  margin-bottom: 10px;
}

.header,
.footer {
  padding: 20px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .title {
  font-size: 150%;
}

.title {
  font-weight: bold;
  text-align: center;
  padding: 20px;

  border-radius: 5px;
}

.subtitle, .total {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #8d1007;
}

.subtitle {
  font-size: 0.8em;
}

/* SIDEBAR */

.sidebar {
  background-color: rgba(250, 250, 250, 0.6);
  padding: 10px;
  margin-bottom: 10px;
}

.sidebar .title {
  color: red;
  text-transform: uppercase;
  font-size: 1.3em;
}

.bought-ticket {
  background-color: white;
  padding: 5px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
}

.ticket-details {
  color: white;
  background-color: pink;
  border-radius: 5px;
  margin: 1px;
  padding: 5px;

  flex: 1 1 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details-info-value {
  font-weight: bold;
  font-size: 1.2em;
}

.buy-button {
  background-color: rgba(250, 250, 250, 0.6);
  border-radius: 5px;
  border: 2px white solid;
  padding: 10px;
  width: 100%;

  cursor: pointer;

  transition: box-shadow .2s;
}

.buy-button:hover {
  box-shadow: 0 0 15px rgba(255, 0, 0, .5);
}

/* HALL SCHEMA */

.content {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  margin-top: 10px;
  height: 32px;
  width: 270px;
  background: url("../img/screen.png") center 0 no-repeat;

  display: flex;
  justify-content: center;
}

.caption {
  text-transform: uppercase;
  color: #a1a1a1;
  background-color: #fff;
  padding: 0 6px;
  height: 14px;
  font-size: 14px;
  display: inline-block;
}

.hall-schema {
  font-size: 0.8em;

  margin-bottom: 10px;

  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(8, 40px);

  align-items: center;
  justify-items: center;
}

.hall-element {
  color: pink;
}

.hall-row-details {
  font-size: 0.8em;
}

.hall-place-details {
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px pink solid;
  border-radius: 5px;
  width: 40px;
  height: 40px;

  cursor: pointer;
}

.hall-place-details:hover {
  box-shadow: 0 0 10px rgba(255, 0, 0, .5);
}

.checkbox-input:checked + .hall-place-details {
  color: white;
  border: 1px red solid;
  background-color: pink;
}

.checkbox-input:disabled + .hall-place-details {
  color: white;
  border: 1px gray solid;
  background-color: gray;
}

.checkbox-input:disabled:hover + .hall-place-details {
  box-shadow: none;
}

/* Emulate focus for label */
.checkbox-input:focus + .hall-place-details {
  box-shadow: 0 0 10px rgba(255, 0, 0, .5);
}

@media only screen and (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header  header" "sidebar content" "footer  footer";
    min-height: 100vh;
  }

  .content-wrapper {
    width: 80%;
    border-radius: 20px;
  }

}
