*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

ol,
li {
  list-style-type: none;
}

address {
  font-style: normal;
}

html {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%), to(#000)), url(assets/posters/background.jpg);
  background: linear-gradient(to right, transparent, 30%, #000), url(assets/posters/background.jpg);
  background-size: cover;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60rem;
  height: 40rem;
  background-color: #00000090;
  -webkit-box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
          box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 768px) {
  .main-container {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 360px) {
  .main-container {
    margin-top: 10rem;
    height: 120vh;
  }
}

.main-film-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  height: 3rem;
}

@media screen and (max-width: 768px) {
  .main-film-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .breadcrumbs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
  }
}

.menu-item {
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid transparent;
}

.menu-item:hover {
  padding-bottom: 0.5rem;
  color: #0fac97;
  border-bottom: 0.2rem solid #0fac97;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
}

.active-menu-item {
  padding-bottom: 0.5rem;
  color: #0fac97;
  border-bottom: 0.2rem solid #0fac97;
}

.film-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 35%;
  height: 111%;
  padding: 0 0 5rem 2rem;
  margin-top: -3rem;
  background-image: url(assets/posters/poster.jpeg);
  background-size: cover;
  background-position: 50% 25%;
  color: #fff;
  line-height: 2rem;
}

.film-title {
  position: absolute;
  margin-top: 2.5rem;
  font-size: 2rem;
}

.film-date,
.film-time,
.ticket-price {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 1rem;
  font-size: 1.2rem;
}

.film-item {
  margin-left: 0.3rem;
}

.icon {
  height: 1.5rem;
  width: auto;
}

.film-address {
  margin-bottom: 6rem;
  font-size: 1rem;
}

.film-address .film-item {
  margin-left: 0;
}

.film-address .icon {
  height: 1rem;
  width: auto;
}

@media screen and (max-width: 768px) {
  .film-description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    height: 20rem;
    padding: 0;
    margin-top: 1rem;
    background-image: url(assets/posters/poster.jpeg);
    background-size: 130%;
    background-position: 0% 5%;
    line-height: 1rem;
  }
  .film-information {
    margin: 0 0 1rem 1rem;
  }
  .film-title {
    margin-top: 2.1rem;
  }
  .film-address {
    margin-bottom: 4rem;
  }
}

.film-date {
  margin-right: 1.5rem;
}

.ticket-price {
  margin-top: 1.5rem;
}

.car-selection-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  height: 100%;
}

.legend-container {
  position: relative;
  margin: 2rem 0 1rem;
  padding-left: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: #fff;
}

.legend-container:after {
  content: '';
  position: absolute;
  top: 180%;
  right: 50%;
  margin-right: -7.5rem;
  width: 15rem;
  height: 0.2rem;
  background-color: #0fac97;
  opacity: 0.5;
}

.legend-item {
  position: relative;
  margin: 0 2rem 0;
}

.legend-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

.item-unavailable::before {
  background-image: url(assets/cars/unavailable.png);
}

.item-selected::before {
  background-image: url(assets/cars/selected.png);
}

.item-sedan::before {
  background-image: url(assets/cars/sedan.png);
}

.item-jeep::before {
  background-image: url(assets/cars/jeep.png);
}

.screen-container {
  position: relative;
  margin: 2rem 0 3rem;
}

.screen-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -6rem;
  width: 12rem;
  height: 4rem;
  background-image: url(assets/posters/background1.jpg);
  background-size: cover;
  background-position: 25% 50%;
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0px 20px 22px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
          box-shadow: rgba(255, 255, 255, 0.25) 0px 20px 22px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 768px) {
  .car-selection-container {
    width: 100%;
  }
  .legend-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 2rem auto 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .legend-container:after {
    content: '';
    position: absolute;
    top: 120%;
    right: 50%;
    margin-right: -7.5rem;
    width: 15rem;
    height: 0.2rem;
    background-color: #0fac97;
    opacity: 0.5;
  }
  .legend-item {
    margin: 0 2rem 0.5rem;
  }
  .screen-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2rem 0 4rem;
  }
  .screen-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -6rem;
  }
}

.cars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22rem;
  width: 30rem;
  margin: 2rem auto 0;
}

.first-row {
  height: 2.5rem;
  width: 50%;
}

.first-row .car-sedan {
  background-size: 50%;
}

.second-row {
  height: 3.5rem;
  width: 60%;
}

.second-row .car-sedan {
  background-size: 60%;
}

.third-row {
  height: 4.5rem;
  width: 70%;
}

.third-row .car-sedan {
  background-size: 70%;
}

.forth-row {
  height: 5rem;
  width: 80%;
}

.forth-row .car-sedan {
  background-size: 80%;
}

.fifth-row {
  height: 6rem;
  width: 90%;
}

.fifth-row .car-jeep {
  background-size: 90%;
}

.car-sedan {
  background-image: url(assets/cars/sedan.png);
  height: 90%;
  width: 6rem;
}

.car-sedan.unavailable {
  background-image: url(assets/cars/sedan-unavailable.png);
}

.car-jeep {
  background-image: url(assets/cars/jeep.png);
  height: 100%;
  width: 7rem;
}

.car-jeep.unavailable {
  background-image: url(assets/cars/jeep-unavailable.png);
}

.car-jeep,
.car-sedan {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 10%;
  border: 0.1rem solid transparent;
  cursor: pointer;
}

.car-jeep:hover,
.car-sedan:hover {
  border: 0.1rem solid #808080;
  outline: 0;
}

.car-jeep:checked,
.car-sedan:checked {
  background-color: #0fac97;
  border: 0.1rem solid #808080;
  outline: 0;
}

.car-jeep:focus,
.car-sedan:focus {
  border: 0.1rem solid #808080;
  outline: 0;
}

input:disabled:hover {
  background-color: transparent;
  cursor: not-allowed;
}

.button-container {
  width: 100%;
}

.confirm-button {
  display: block;
  height: 2rem;
  width: 10rem;
  margin: 0.5rem auto 0;
  padding-top: 0.3rem;
  text-align: center;
  color: #fff;
  background-color: #0fac97;
}

.confirm-button:hover {
  background-color: #00ffdd;
  color: #000;
}

@media screen and (max-width: 350px) {
  .cars-container {
    height: 22rem;
    width: 20rem;
    margin: 2rem auto 0;
  }
}
/*# sourceMappingURL=main.css.map */