html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background: #15a8e1;
  padding: 16px;
  margin: 0 0 32px;
}

.title {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  color: white;
}

.movie-form__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 16px;
}

.movie-form .submit-block {
  margin: 16px 0 22px;
}

.submit-block {
  display: grid;
  justify-content: end;
  margin: 0 0 32px;
  justify-content: end;
}

.button-submit {
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid #15a8e1;
  background: #ffffff;
  border-radius: 3px;
}

.button-submit:hover {
  background: #15a8e1;
  transition: 0.3s;
  color: white;
}

.wrapper {
  max-width: 768px;
  padding: 0 16px 60px;
  margin: 0 auto;
}

.select-block {
  position: relative;
  overflow: hidden;
  margin: 5px 0 0;
}

.select-block:after {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #15a8e1;
}

.select-block:hover:after {
  border-top: 7px solid white;
  transition: 0.3s;
}

.select {
  appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid #15a8e1;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select:hover {
  background: #15a8e1;
  transition: 0.3s;
  color: white;
}

.select-label {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.screen-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 32px 0 0;
}

.screen {
  max-width: 100%;
}

.screen__description {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #15a8e1;
}

.screen__image {
  width: 100%;
}

.seats-info {
  justify-content: center;
  display: flex;
}

.seats-info-list {
  display: flex;
}

.seats-info-list__item {
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
}

.seats-info-list__item:before {
  content: '';
  width: 13px;
  height: 16px;
  background: #15a8e1;
  border-radius: 3px;
  display: block;
  margin: 0 8px 0 0;
}

.seats-info-list__item:last-child {
  margin-right: 0;
}

.seats-info-list__item.selected:before {
  background: #ffd600;
}

.seats-info-list__item.disabled:before {
  background: #bdbcc5;
}

.hall {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  max-width: 400px;
  margin: 32px auto;
  grid-gap: 12px;
}

.hall-item {
  display: flex;
  justify-content: center;
}

.hall-item__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hall-item__input:checked + .hall-item__seat {
  background: #ffd600;
}

.hall-item__input:disabled + .hall-item__seat {
  background: #bdbcc5;
  outline: none;
}

.hall-item__input:focus + .hall-item__seat {
  outline: #005fcc auto 1px;
}

.hall-item__seat {
  width: 26px;
  height: 32px;
  background: #15a8e1;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}

.summary-info {
  border: 3px solid #15a8e1;
  padding: 16px;
  border-radius: 3px;
}

.summary-info__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  margin: 0 0 16px;
}

.summary-list__item {
  margin: 0 0 8px;
}

.summary-list__item strong {
  font-weight: bold;
}

@media (max-width: 767px) {
  .movie-form__wrapper {
    grid-template-columns: 1fr;
    grid-gap: 16px 0;
  }
  .hall {
    grid-gap: 8px;
    max-width: 328px;
  }
  .hall-item__seat {
    width: 100%;
  }
  .submit-block {
    justify-content: stretch;
  }
}
