@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
button,
a,
input,
li,
label {
  outline: none;
  border: transparent;
  background-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
}

h1,
h2,
p,
a {
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  color: #efefef;
  font-size: 1.2rem;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  background-color: #000;
  background-image: url(../img/background_wall.jpg);
  background-size: 70%;
  background-repeat: repeat;
  background-attachment: fixed;
}

@-webkit-keyframes scaleme {
  50% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    background-color: #fddeaf;
  }
}

@keyframes scaleme {
  50% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    background-color: #fddeaf;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay.hidden {
  opacity: 0;
}

.try-btn {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  margin: 2rem;
  width: 55px;
  height: 55px;
  background-color: #fdffa5;
  border-radius: 50%;
  border: 3px solid #2c2c2c;
  font-family: "Russo One", sans-serif;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  color: #2c2c2c;
  cursor: pointer;
  -webkit-animation: scaleme 1.5s ease-in-out infinite;
          animation: scaleme 1.5s ease-in-out infinite;
  z-index: 1;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  width: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.main.hidden {
  opacity: 0;
}

.description {
  min-width: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  border-radius: 30px 0 0 30px;
  border-left: 3px solid #fdffa5;
  border-top: 3px solid #fdffa5;
  border-bottom: 3px solid #fdffa5;
}

.description__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  background-image: url(../img/catwall.jpg);
  background-repeat: no-repeat;
  background-position: 22% 0;
  background-size: cover;
}

.description__header {
  margin-top: 1rem;
  text-align: center;
}

.description__text {
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #1b1b1b), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, #1b1b1b 40%, rgba(255, 255, 255, 0) 100%);
}

.description__text__accent {
  color: #fdffa5;
}

.control {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 1rem 1.2rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px solid #fdffa5;
  border-radius: 0 30px 30px 0;
}

.control__header {
  color: #fdffa5;
}

.control nav {
  margin-top: 1rem;
}

.control__day-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
}

.control__day-select li:not(:first-child) {
  margin-left: 0.5rem;
}

.control__day-select__item {
  padding: 0.3rem 0.5rem;
  font-family: "Russo One", sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
  border: 3px solid transparent;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.control__day-select__item:focus {
  border-color: #cb8c2e;
}

.control__day-select__item:active {
  border-color: #cb8c2e;
}

.control__day-select__item--active {
  color: #000;
  background-color: #fdffa5;
  border-color: #cb8c2e;
}

.control__seat-select {
  text-align: center;
  margin-top: 1.5rem;
}

.control__seat-select .control__header {
  text-align: center;
  padding: 0.3rem 0;
  border-bottom: 1px solid #efefef;
}

.control__boxzone {
  padding-bottom: 1rem;
  border: 1px solid #efefef;
  border-radius: 20px;
}

.control__wall {
  width: 90%;
  margin: 0.5rem auto 0;
  padding-bottom: 0.5rem;
  color: #efefef;
  text-align: center;
  border-bottom: 8px solid #efefef;
}

.control__boxes-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control__zone-label {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.7rem;
  color: #fddeaf;
}

.control__confirm-btn {
  margin-top: 1rem;
  padding: 0.5rem;
  font-family: "Russo One", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 7px;
  background-color: #fdffa5;
  -webkit-appearance: none;
  cursor: pointer;
  border: 3px solid transparent;
}

.control__confirm-btn:focus {
  border-color: #cb8c2e;
}

.control__confirm-btn:active {
  border-color: #cb8c2e;
}

.box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 50px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-top: 1rem;
  background-color: #fddeaf;
  border: 2px solid #cb8c2e;
  cursor: pointer;
}

.box__checkbox.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.box__checkbox:checked ~ .box__cat {
  opacity: 1;
}

.box__checkbox:checked ~ .box__number {
  opacity: 0;
}

.box__checkbox:disabled ~ .box__cat {
  opacity: 1;
  background-image: url(../img/occupied_cat.svg);
}

.box__checkbox:disabled ~ .box__number {
  opacity: 0;
}

.box__checkbox:focus ~ .box__number {
  color: #cb8c2e;
}

.box__cat {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/select_cat.svg) center/85% no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.box__number {
  font-size: 0.6rem;
  color: #454545;
  text-align: center;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  -webkit-transition: opacity 0.6s, color 0.3s;
  transition: opacity 0.6s, color 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  .control__day-select__item:hover {
    color: #000;
    background-color: #fdffa5;
    border-radius: 7px;
  }
}

@media screen and (max-width: 1400px) {
  body {
    background-size: 120%;
  }
}

@media screen and (max-width: 690px) {
  body {
    margin: 0;
    background-size: 150%;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .description {
    border: none;
    border-radius: 0;
    border-bottom: 3px solid #fdffa5;
  }
  .description__wrap {
    min-height: 420px;
    background-position: 0% 20%;
    background-size: cover;
  }
  .overlay {
    display: none;
  }
  .control {
    border-radius: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.65);
  }
}

@media screen and (max-width: 450px) {
  .description__wrap {
    min-height: 380px;
    background-position: 0% 15%;
    background-size: 125%;
  }
  .box {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}
