body {
  padding: 0;
  margin: 0;
  width: 100vw;
  background-color: lightgray;
  box-sizing: border-box;
}

.seat {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.seat_label {
  margin-top: 4px;
  padding-top: 5px;
  align-self: center;

  width: 35px;
  height: 33px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;

  background-color: green;
  outline: solid transparent;
}

.seat_control {
  position: absolute;
  align-self: center;

  width: 40px;
  height: 40px;

  border: none;
  outline: solid transparent;
  cursor: pointer;

  -moz-appearance: none;
  -webkit-appearance: none;
}

.seat_control:focus {
  outline: solid yellow;
}

.seat_control:hover {
  outline: solid white;
}

.seat_control:disabled {
  cursor: not-allowed;
}

.seat_control:checked + label.seat_label {
  background-color: red;
}

.seat_control:disabled + label.seat_label {
  background-color: darkgray;
}

.seat_row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 9px;
}

.seat_container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  align-items: center;
  gap: 9px;
}

.selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .seat_control {
    position: absolute;
    width: 35px;
    height: 35px;
  }

  .seat_label {
    padding-top: 3px;

    width: 32px;
    height: 30px;

    font-size: 13px;
  }
  .seat_row {
    gap: 7px;
  }

  .seat_container {
    gap: 7px;
  }
}

@media screen and (max-width: 450px) {
  .seat_control {
    position: absolute;
    width: 25px;
    height: 25px;
  }

  .seat_label {
    padding-top: 2px;

    width: 22px;
    height: 20px;

    font-size: 10px;
  }
  .seat_row {
    gap: 5px;
  }

  .seat_container {
    gap: 5px;
  }
}
