* {
  margin: 0px;
  font-family: Helvetica;
}

.body-container {
  display: flex;
  width: 100%;
}

.container-inner {
  height: 90vh;
  margin: 30px;
  border-radius: 10px;
}

.container-inner--one-third {
  width: 40%;
}

.container-inner--two-thirds {
  width: 60%;
}

.film-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(./assets/poster.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.film-info__title {
  padding: 10px;
  font-size: 60px;
  background-color: rgba(255, 255, 255, 0.6);
}

.film-info__subtitle {
  width: 30%;
  font-size: 20px;
  background-color: black;
  color: white;
}

.film-info__rate {
  font-size: 40px;
}

.film-info__description {
  padding: 20px;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.container-inner--grey {
  background-color: rgb(241, 239, 239);
}

.choose-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.choose-section__header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  line-height: 50px;
}

.choose-section__header-button {
  width: 25px;
  height: 25px;
  margin: 10px;
  border: none;
  background-size: contain;
  cursor: pointer;
}

.choose-section__header-button--back {
  background-image: url(./assets/back.png);
}

.choose-section__header-button--filters {
  background-image: url(./assets/filters.png);
}

.choose-section__main {
  display: flex;
  width: 100%;
  height: 90%;
  min-height: 83%;

}

.choose-section__main-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.chosen-tickets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.choose-section__chosen-tickets {
  align-self: center;
  width: 37%;
  height: 70%;
  border-radius: 10px;
  background-color: white;
}

.choose-section__chosen-tickets--modal {
  background-color: gray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.chosen-tickets__inner {
  width: 50%;
  max-width: 350px;
  height: 70%;
  margin: auto;
  border-radius: 10px;
  background-color: white;
}

.chosen-tickets__tickets-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 60%;
}

.chosen-tickets__ticket {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 200px;
  min-width: 85px;
  height: 25px;
  margin: 3px;
  padding: 10px 5px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
}

.chosen-tickets__dot {
  height: 5px;
  width:  5px;
  border-radius: 50%;
  border: 1px solid black;
}

.chosen-tickets__dot--main {
  align-self: flex-start;
  margin: 10px 0px 0px 10px;
  width: 10px;
  height: 10px;
}

.chosen-tickets__row-seat {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  font-weight: 300;
}

.chosen-tickets__span-bold {
  line-height: 25px;
}

.choose-section__main-title {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.choose-section__time-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-section__time-container {
  display: flex;
  justify-content: center;
  height: 37px;
  padding: 3px 0px;
  border: 1px solid transparent;
}

.choose-section__time-label {
  height: auto;
  cursor: pointer;
}

.choose-section__time--bold {
  font-size: 12px;
  font-weight: bold;
}

.choose-section__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  height: 25px;
  padding: 5px;
  margin: 0px 2px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  background-color: white;
}

.choose-section__time:hover  {
  border: 1px solid rgba(240, 12, 12, 0.7);
}

.choose-section__input:focus-visible + .choose-section__time {
  border: 1px solid rgba(240, 12, 12, 0.7);
}

.choose-section__time-container:focus-within {
  border: 1px dashed rgba(77, 77, 77, 1);
}

.choose-section__input:checked + .choose-section__time {
  border: 1px solid rgba(240, 12, 12, 0.7);
  background-color: rgba(240, 12, 12, 0.7);
  color: white;
}

.choose-section__time-number {
  font-size: 9px;
}

.choose-section__hall-container {
  display: flex;
  justify-content: center;
}

.choose-section__hall {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(11, 20px);
  grid-gap: 3px;
}

.choose-section__label {
  cursor: pointer;
}

.choose-section__input {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.choose-section__span {
  position: absolute;
  height: 20px;
  width: 20px;
  margin: 1px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #eee;
}

.choose-section__span-legend {
  position: relative;
  height: 15px;
  width: 60px;
  font-size: 13px;
  line-height: inherit;
  text-align: center;
  overflow-wrap: break-word;
}

.choose-section__span-legend--selected {
  border: 1px solid rgba(28, 176, 85, 0.8);
  background-color: rgba(28, 176, 85, 0.8);
  color: black;
}

.choose-section__span-legend--sold {
  background-color: black;
  color: white;
}

.choose-section__span--disabled {
  background-color: black;
}

.choose-section__label--disabled:hover > .choose-section__span {
  background-color: black;
  cursor: not-allowed;
}

.choose-section__label:hover > .choose-section__span {
  border: 1px solid rgba(28, 176, 85, 0.8);
}

.choose-section__input:focus-visible + .choose-section__span {
  border: 1px solid rgba(28, 176, 85, 0.8);
}

.choose-section__input:checked + .choose-section__span {
  background-color: rgba(28, 176, 85, 0.8);
}

.choose-section__hall-legend {
  display: flex;
  justify-content: space-around;
}

.choose-section__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  width: 100%;
}

.chosen-tickets__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chosen-tickets__button--go-back {
  margin: 5px;
}

.checkout-seats__checkout-button {
  width: 100%;
  text-align: center;
  line-height: 35px;
  font-size: 19px;
  font-weight: 500;
  border: 2px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* padding: 0px; */
  background-color: rgba(28, 176, 85, 0.8);
  color: white;
  outline: none;
  cursor: pointer;
}

.checkout-seats__checkout-button:focus,
.checkout-seats__checkout-button:hover {
  border: 2px solid rgba(77, 77, 77, 1);
  color: rgba(77, 77, 77, 1);
}

@media screen and (max-width: 1014px) {
  .checkout-seats__checkout-button {
    font-size: 14px;
  }
}

@media screen and (max-width: 790px), (max-height: 550px) {
  .body-container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .container-inner {
    height: 100vh;
    width: 100%;
    margin: 0px;
  }  
}

@media screen and (max-width: 420px) {
  
  .container-inner {
    height: auto;
  }

  .choose-section__main {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    height: 30%;
    min-height: 83%;
    
  }

  .choose-section__hall-legend {
    margin: 15px 0px 0px 0px;
  }

  .choose-section__chosen-tickets {
    align-self: center;
    width: 37%;
    border-radius: 10px;
    background-color: white;
    min-width: 60%;
    height: 300px;
    margin: 10px 0px;

  }

  .chosen-tickets {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-width: 70%;
  }

  .choose-section__chosen-tickets--modal {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    background-color: gray;
  }
}

