* {
  margin: 0px;
  font-family: Helvetica;
}

.body {
  display: flex;
  width: 100%;
}

.container-half-screen {
  width: 50%;
  height: 90vh;
  margin: 30px;
  border-radius: 10px;
}

.container-half-screen--film-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(./poster.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.film-info__title {
  padding: 10px;
  font-size: 60px;
  background-color: rgba(255, 255, 255, 0.6);
}

.film-info__subtitle {
  width: 30%;
  font-size: 20px;
  background-color: black;
  color: white;
}

.film-info__rate {
  font-size: 40px;
}

.film-info__description {
  padding: 20px;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.container-half-screen--grey {
  background-color: rgb(241, 239, 239);
}

.container-half-screen--choose-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.choose-section__header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  line-height: 50px;
}

.choose-section__header-button {
  width: 25px;
  height: 25px;
  margin: 10px;
  border: none;
  background-size: contain;
  cursor: pointer;
}

.choose-section__header-button--back {
  background-image: url(./back.png);
}

.choose-section__header-button--filters {
  background-image: url(./filters.png);
}

.choose-section__main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.choose-section__main-title {
  display: flex;
  justify-content: center;
  font-weight: 300;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.choose-section__time-container {
  display: flex;
  justify-content: center;
  height: 37px;
  width: 78%;
  padding: 3px 0px;
  border: 1px solid transparent;
}

.choose-section__time {
  height: auto;
  cursor: pointer;
}

.choose-section__time--bold {
  font-size: 12px;
  font-weight: bold;
}

.choose-section__time:hover > .choose-section__span--time {
  border: 1px solid rgba(240, 12, 12, 0.7);
}

.choose-section__input:focus-visible + .choose-section__span--time {
  border: 1px solid rgba(240, 12, 12, 0.7);
}

.choose-section__time-container:focus-within {
  border: 1px dashed rgba(77, 77, 77, 1);
}

.choose-section__input:checked + .choose-section__span--time {
  border: 1px solid rgba(240, 12, 12, 0.7);
  background-color: rgba(240, 12, 12, 0.7);
  color: white;
}

.choose-section__span--time {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  height: 25px;
  padding: 5px;
  margin: 0px 2px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  background-color: white;
}

.choose-section__time-number {
  font-size: 9px;
}

.choose-section__hall-container {
  display: flex;
  justify-content: center;
}

.choose-section__hall {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(11, 20px);
  grid-gap: 3px;
}

.choose-section__label {
  cursor: pointer;
}

.choose-section__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  opacity: 0;
  cursor: pointer;
}

.choose-section__span {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #eee;
}

.choose-section__span-legend {
  position: relative;
  height: 15px;
  width: 60px;
  font-size: 13px;
  line-height: inherit;
  text-align: center;
  overflow-wrap: break-word;
}

.choose-section__span-legend--selected {
  border: 1px solid rgba(28, 176, 85, 0.8);
  background-color: rgba(28, 176, 85, 0.8);
  color: black;
}

.choose-section__span-legend--sold {
  background-color: black;
  color: white;
}

.choose-section__span--disabled {
  background-color: black;
}

.choose-section__label--disabled:hover > .choose-section__span {
  background-color: black;
  cursor: not-allowed;
}

.choose-section__label:hover > .choose-section__span {
  border: 1px solid rgba(28, 176, 85, 0.8);
}

.choose-section__input:focus-visible + .choose-section__span {
  border: 1px solid rgba(28, 176, 85, 0.8);
}

.choose-section__input:checked + .choose-section__span {
  background-color: rgba(28, 176, 85, 0.8);
}

.choose-section__hall-legend {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.choose-section__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

.choose-section__checkout-information {
  height: 100%;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  background-color: rgba(77, 77, 77, 1);
  color: white;
}

.checkout-seats__checkout-button {
  height: 100%;
  line-height: 25px;
  font-size: 19px;
  font-weight: 500;
  border: 2px solid transparent;
  background-color: rgba(28, 176, 85, 0.8);
  color: white;
  outline: none;
  cursor: pointer;
}

.checkout-seats__checkout-button:focus,
.checkout-seats__checkout-button:hover {
  border: 2px solid rgba(77, 77, 77, 1);
  color: rgba(77, 77, 77, 1);
}

.choose-section__footer--container-half {
  display: flex;
  justify-content: center;
  width: 50%;
}

@media screen and (max-width: 666px), (max-height: 550px) {
  .body {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .container-half-screen {
    height: 100vh;
    width: 100%;
    margin: 0px;
  }
}

