* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --Main-bg-color: #252432;

  --Top-text-color: #c6c6cd;

  --Hint-text-color: #666684;

  --Hint-notAvailable-bg-color: #35334b;
  --Hint-selected-bg-color: #37e7f7;
  --Hint-available-bg-color: #ffffff;

  --CinemaScreen-bg-color: #f8f7f5;

  --Seat-notAvailable-bg-color: #444451;
  --Seat-selected-bg-color: #37e7f7;
  --Seat-available-bg-color: #ffffff;
  --Seat-width: 30px;
  --Seat-height: 25px;

  --Seats-gap: 10px;
  --Seats-col-width: calc(var(--Seat-width) * 4 + var(--Seats-gap) * 4);
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

.Main {
  min-width: 400px;
  min-height: 100vh;
  background-color: var(--Main-bg-color);
}
.Main_container {
  display: flex;
  flex-direction: column;
}

.Top {
  text-align: center;
  color: var(--Top-text-color);
}
.Top_container {
  padding: 15px;
}
.Top_title {
  font-size: 1.3em;
  font-weight: 400;
}

.Hints_container {
  margin: 0 auto;
  padding: 30px 0 0;
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
}

.Hint {
  display: flex;
  align-items: center;
  color: var(--Hint-text-color);
}
.Hint::before {
  content: '';
  margin: 0 15px 0 0;
  display: block;
  width: 30px;
  height: 25px;
  border-radius: 12px 12px 0 0;
}
.Hint--notAvailable::before {
  background-color: var(--Hint-notAvailable-bg-color);
}
.Hint--selected::before {
  background-color: var(--Hint-selected-bg-color);
}
.Hint--available::before {
  background-color: var(--Hint-available-bg-color);
}

.CinemaScreen {
  position: relative;
  margin: 30px auto;
  max-width: 500px;
  height: 150px;
  overflow: hidden;
  background-color: var(--Main-bg-color);
}
.CinemaScreen_layer {
  position: absolute;
  left: 50%;
  width: 130%;
  height: 100%;
  border-radius: 50% 50% 0 0;
  transform: translateX(-50%);
}
.CinemaScreen_mainLayer {
  top: 0;
  background: linear-gradient(
      130deg,
      transparent 0%,
      transparent 40%,
      var(--CinemaScreen-bg-color) 40%,
      var(--CinemaScreen-bg-color) 77%,
      var(--Main-bg-color) 77%
    ),
    linear-gradient(
      55deg,
      var(--Main-bg-color) 0%,
      var(--Main-bg-color) 23%,
      var(--CinemaScreen-bg-color) 23%,
      var(--CinemaScreen-bg-color) 40%
    );
}
.CinemaScreen_bottomLayer {
  top: 60%;
  background-color: var(--Main-bg-color);
}

.Seat--dropRight {
  margin-right: calc(var(--Seat-width) + var(--Seats-gap));
}
.Seat--dropLeft {
  margin-left: calc(var(--Seat-width) + var(--Seats-gap));
}
.Seat_checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.Seat_view {
  display: block;
  width: var(--Seat-width);
  height: var(--Seat-height);
  border-radius: 12px 12px 0 0;
  background-color: var(--Seat-available-bg-color);
}
.Seat_checkbox + .Seat_view:hover {
  cursor: pointer;
}
.Seat_checkbox:checked + .Seat_view {
  background-color: var(--Seat-selected-bg-color);
}
.Seat_checkbox:disabled + .Seat_view:hover {
  cursor: not-allowed;
}
.Seat_checkbox:disabled + .Seat_view {
  background-color: var(--Seat-notAvailable-bg-color);
}

.Seats_row {
  display: flex;
  justify-content: center;
}
.Seats_col {
  margin-bottom: calc(var(--Seat-height) + var(--Seats-gap) * 2);
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: var(--Seats-gap);
  width: var(--Seats-col-width);
}
.Seats_col--leftSide {
  padding: 0 var(--Seat-width);
}
.Seats_col--rightSide {
  padding-left: calc(var(--Seat-width) + var(--Seats-gap) * 2);
  padding-right: var(--Seat-width);
}

@media (max-width: 500px) {
  :root {
    --Seat-width: 25px;
    --Seat-height: 20px;

    --Seats-gap: 5px;
  }
  .CinemaScreen {
    height: 125px;
  }
  .CinemaScreen_mainLayer {
    background: linear-gradient(
        130deg,
        transparent 0%,
        transparent 40%,
        var(--CinemaScreen-bg-color) 40%,
        var(--CinemaScreen-bg-color) 73%,
        var(--Main-bg-color) 73%
      ),
      linear-gradient(
        55deg,
        var(--Main-bg-color) 0%,
        var(--Main-bg-color) 27%,
        var(--CinemaScreen-bg-color) 27%,
        var(--CinemaScreen-bg-color) 40%
      );
  }
}
