/* Smartphones portrait----------- */
@media only screen and (min-width: 319px) and (max-width: 414px) {
  .main-wrap {
    padding: 0;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .rating-counter {
    font-weight: bolder;
  }

  .film-cover {
    display: none;
  }

  .booking-wrap {
    width: 100%;
    background-size: 100%;
    background-image: url(../img/dune-main-320.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .time__item a {
    font-size: 11px;
  }

  .seats-input {
    width: 14px;
    height: 14px;
  }

  .booking-information {
    
  }

  .summary-position__element {
    color: #ffb400;
    font-size: 18px;
  }
}
/* Smartphones landscape----------- */
@media only screen and (min-width: 415px) and (max-width: 767px) {
  .main-wrap {
    padding: 0;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .rating-counter {
    font-weight: bolder;
  }

  .film-cover {
    display: none;
  }

  .booking-wrap {
    width: 100%;
    background-size: 100%;
    background-image: url(../img/dune-main-320.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .time__item a {
    font-size: 13px;
  }

  .seats-input {
    width: 17px;
    height: 17px;
  }
}
