body {
  background: #232433;
  font-family: Roboto, 'sans-serif';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.desktop {
  display: none;
}

.booking {
  color: #eee;
  background: #232433;
  padding: 0 10px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.booking:after {
  content: '';
  background-image: url(https://www.themoviedb.org/t/p/original/v3wGDRhnik4HSuaMzATkgaqDJLS.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: color;
  opacity: 0.09;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.booking h1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.tagline {
  margin-top: 0;
  font-style: italic;
  text-align: right;
  color: rgb(182, 182, 182);
}

.info-block {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(214, 214, 214);
  line-height: 1.8;
}

.info-block .tag {
  background: #eee;
  color: #333;
  padding: 2px 5px;
  margin: 0 2px;
  border-radius: 3px;
  white-space: nowrap;
  height: 25px;
}

.info-block .rate {
  border: 1px solid #eee;
  font-weight: bold;
  text-shadow: 1px 1px rgba(219, 219, 219, 0.5);
  background: rgb(156, 38, 38);
  color: #eee;
  padding: 1px 5px;
}

.info-block img {
  width: 35%;
  height: 35%;
}

.rating {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rating-badge {
  position: relative;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background: rgb(6, 192, 115);
  line-height: 45px;
  font-weight: bold;
  border-radius: 50%;
  overflow: hidden;
}

.rating span {
  background: transparent;
  color: #eee;
}

button {
  background: transparent;
  border: 1px solid #eee;
  padding: 7px 17px;
  color: #eee;
  border-radius: 3px;
  transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
}

button:active {
  background: #eee;
  color: #333;
}

button:focus {
  text-decoration: underline;
}

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 7px;
  border-top: 1px solid rgba(238, 238, 238, 0.3);
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
  margin: 30px -10px;
}

.description-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.legend .seat {
  height: 16px;
  width: 18px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-right: 5px;
  background: #828282;
}

.legend .seat.selected {
  background: #04d9ff;
}

.legend .seat.occupied {
  background: #eee;
}

.screen-block {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.screen {
  background-color: #fff;
  height: 100px;
  width: 90%;
  margin: 15px 0;
  -webkit-transform: rotateX(-45deg);
  transform: rotateX(-45deg);
  -webkit-box-shadow: 0 5px 15px rgba(255, 255, 255, 0.7);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.7);
}

.hall {
  margin: 30px 0;
}

.hall .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.seat input[type='checkbox'] {
  opacity: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.seat span:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 20px;
  margin: 3px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  background-color: #818181;
}

.seat input[type='checkbox']:checked + span:before {
  background-color: #04d9ff;
}

input:focus + span:before {
  background-color: #adadad;
}

label.seat:not(.occupied):hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  cursor: pointer;
  user-select: none;
}

.seat.occupied span::before {
  background-color: #eee;
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.add-to-cart-block {
  margin-top: 30px;
}

.danger {
  color: rgb(253, 69, 69);
}

/*modal*/

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.modal-content h1 {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.modal-content .header .close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content .ticket {
  vertical-align: middle;
  padding: 10px 5px;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #eee;
}

.modal-content .ticket h3 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.modal-content .ticket-data {
  display: grid;
  grid-template-columns: repeat(5, auto);
  text-align: center;
  justify-content: stretch;
  margin-bottom: 20px;
}

.modal-content .footer {
  text-align: center;
  margin-top: auto;
}

.modal-content a {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.modal-content .btn-green {
  display: inline-block;
  width: 100%;
  padding: 20px 10px;
  background: #2ecc71;
  color: #eee;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/*modal*/

@media screen and (min-width: 700px) {
  body {
    height: 100vh;
  }
  .booking {
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .info-block img {
    width: 35%;
    height: 35%;
  }

  .movie-info {
    max-width: 50%;
  }
  .hall-box {
    width: 350px;
    max-width: 40%;
  }
  .modal-content {
    width: 400px;
  }
}
