* {
    background: whitesmoke;
    margin: 0;
}
.title {
    padding: 10px;
    text-align: center;
    background: lightsalmon;
    font-weight: normal;
    font-size: 1.5rem;
}
.film__title, .film__date, .film__time {
    width: 75vw;
    margin: 10px auto;
    text-align: left;
}
.seats_legend__wrapper {
    margin-top: 20px;
    text-align: center;
}
.description {
    font-size: 1em;
    line-height: 1em;
}
.screen {
    width: 75vw;
    margin: 20px auto 5vh auto;
    box-shadow: 0px 5px 0px lightskyblue;
    text-transform: uppercase;
    text-align: center;
}
.seat {
    display: inline-block;
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    margin: 0.5vw;
    background: lightgreen;
    font-size: 3vw;
    text-align: center;
    vertical-align: middle;
    border-radius: 5%;
}
.visually_hidden {
    position: absolute;
    clip-path: circle(0%);
    appearance: none;
}
.seat__input:focus + .seat {
    box-shadow: 0 0 0 0.3vw green;
}
.seat__input:checked + .seat,
.seats_legend__wrapper .booked {
    background: lightcoral;
}
.seat__input:disabled + .seat,
.seats_legend__wrapper .not_available {
    background: lightgrey;
}
.row{
    margin: 10px;
    padding: 0;
    border: none;
    text-align: center;
}
.book__wrapper {
    margin: 50px;
    padding: 0;
    border: none;
    text-align: center;
}
.book__button {
    width: 200px;
    height: 40px;
    background: lightcoral;
    font-size: 1.2rem;
    font-weight: normal;
}
@media screen and (min-width: 700px) {
    .film__title, .film__date, .film__time {
        width: 525px;
    }
    .screen {
        width: 525px;
    }
    .seat {
        width: 35px;
        height: 35px;
        font-size: 21px;
        line-height: 35px;
        margin: 3.5px;
    }
    .seat__input:focus + .seat {
        box-shadow: 0 0 0 2.1px green;
    }
}
@media screen and (max-width: 500px) {
    .film__title, .film__date, .film__time {
        width: 90vw;
    }
    .screen {
        width: 90vw;
    }
    .seat {
        width: 6vw;
        height: 6vw;
        line-height: 6vw;
    }
    .row {
        margin: 4vw 0vw;
    }
}
