:root {
  --black: #000000;
  --white: #ffffff;

  --main-color: #e1e1e1;
  --secondary-color: #9db09a;
  --main-shadow-color: rgba(0, 0, 0, 0.6);

  /* Poster */
  --gradient-black-90: rgba(0, 0, 0, 0.9);
  --gradient-black-70: rgba(0, 0, 0, 0.7);
  --gradient-black-20: rgba(0, 0, 0, 0.2);
  --gradient-black-0: rgba(0, 0, 0, 0);

  /* badge */
  --badge-border: rgba(0, 0, 0, 0.4);
  --badge-bg: rgba(0, 0, 0, 0.5);

  /* Screen */
  --gradient-main-70: rgba(157, 176, 154, 0.7);
  --gradient-main-40: rgba(157, 176, 154, 0.4);
  --gradient-main-20: rgba(157, 176, 154, 0.2);
  --gradient-main-0: rgba(157, 176, 154, 0);

  --main-font-color: #7c7c7c;
  --active-font-color: #353434;
}
