html {
  max-width: 1515px;
  margin: auto;
}
.container {
  background: #c9c9d6;
}
.header {
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(1%, #776d6a),
    to(#c9c9d6)
  );
  background: linear-gradient(90deg, #776d6a 1%, #c9c9d6 100%);
  border-radius: 10px;
}
.navigation {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.navigation_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style-type: none;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}
.navigation_item {
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding-top: 25px;
  padding-bottom: 25px;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  border: 10px solid;
  border-color: transparent;
  opacity: 0.6;
}
.navigation_item:hover {
  border: 10px solid;
  border-left-style: none;
  border-right-style: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}
.navigation_item:active {
  opacity: 1;
  font-weight: 700;
}
.navigation_item a {
  font-size: 26px;
  color: #000;
  text-decoration: none;
  text-align: center;
}
.navigation_item_selected {
  font-weight: 700;
  border: 10px solid;
  border-radius: 10px;
  border-left-style: none;
  border-right-style: none;
  opacity: 1;
}
.navigation .popup {
  display: none;
}
.content {
  width: 100%;
  max-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 750px)) [2];
  grid-template-columns: repeat(2, minmax(400px, 750px));
  gap: 1em;
  padding-top: 10px;
  border-radius: 10px;
}
.summary {
  width: 100%;
  background-image: url(./Images/back-2.jpg);
  background-repeat: no-repeat;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.summary_inner {
  padding: 10px;
  margin: 60px 20px 0;
  background: rgba(0, 0, 0, 0.6);
  color: #f0f8ff;
}
.placement {
  width: 100%;
  height: 925px;
  background-image: url(./Images/background.jpg);
  background-repeat: no-repeat;
}
.calendar_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
  grid-template-columns: 1fr 5fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  overflow: hidden;
}
.calendar_item {
  padding: 15px;
  text-align: center;
  font-size: 24px;
  color: #f0f8ff;
  cursor: pointer;
}
.calendar_item_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.calendar_item_input:hover + span {
  color: #00ced1;
  -webkit-transition: 1s;
  transition: 1s;
}
.calendar_item_input:active + span {
  color: #067e80;
}
.calendar_item_input:checked + span {
  color: #ebba1b;
  -webkit-transition: 1s;
  transition: 1s;
}
.calendar_item_input span {
  margin: 2px;
  letter-spacing: 1px;
}
.calendar_btn {
  margin: 5px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f0f8ff;
  opacity: 0.8;
}
.calendar_btn:hover {
  border: 1px solid;
  color: #00ced1;
}
.calendar_btn:active {
  color: #067e80;
}
.time_wrap {
  margin: 60px 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
.time_wrap_title {
  padding-top: 10px;
  padding-left: 2em;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: bolder;
  color: #f0f8ff;
  letter-spacing: 4px;
}
.time_wrap_lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  padding-bottom: 10px;
}
.time_wrap_lists_item {
  padding: 15px;
  text-align: center;
  font-size: 24px;
  color: #f0f8ff;
  cursor: pointer;
}
.time_wrap_lists_item input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.time_wrap_lists_item input:hover + span {
  color: #00ced1;
  -webkit-transition: 1s;
  transition: 1s;
}
.time_wrap_lists_item input:active + span {
  color: #067e80;
}
.time_wrap_lists_item input:checked + span {
  color: #ebba1b;
  -webkit-transition: 1s;
  transition: 1s;
}
.time_wrap_lists_item input span {
  margin: 2px;
  letter-spacing: 1px;
}
.screen {
  width: 80%;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0.8;
}
.screen p {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.hall {
  width: 400px;
  margin: 60px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [10];
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  padding: 10px;
  border: #d8d0d0 solid;
  background-color: rgba(255, 255, 255, 0.6);
}
.hall_seat {
  height: 30px;
  width: 30px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.hall_seat_input {
  width: 30px;
  height: 30px;
  margin: 0;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.hall_seat_input:checked + .hall_seat_number {
  background: #ebba1b;
  font-weight: 700;
}
.hall_seat_input:disabled + .hall_seat_number {
  background: #f03939;
  color: #210076;
  font-weight: 700;
}
.hall_seat_number {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  background: #5f5a5a;
  color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.seats_status {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}
.seats_status_item {
  padding: 30px;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  text-align: center;
  position: relative;
  font-size: 22px;
  background-color: #000;
  color: #f0f8ff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.seats_status_item::before {
  width: 30px;
  height: 30px;
  left: 10px;
  position: absolute;
  content: " ";
}
.seats_available::before {
  background: grey;
}
.seats_taken::before {
  background: #f03939;
}
.seats_selected::before {
  background: #ebba1b;
}
.seats_choice {
  height: 500px;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: ([row] 1fr) [6];
  grid-template-rows: repeat(6, [row] 1fr);
  place-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}
.seats_choice_list {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-row: row 1 / row 6;
  place-items: center;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  overflow-x: auto;
  list-style-type: none;
}
.seats_choice_list_label {
  padding: 15px;
  margin: 5px;
  display: none;
  justify-self: flex-end;
  text-decoration: none;
  color: #fdfdfd;
  border: 3px solid rgba(92, 0, 0, 0.4);
  background-color: #99281b;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.seats_choice_list_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.seats_choice_list_input:hover + label {
  background-color: red;
  -webkit-transition: 1s;
  transition: 1s;
}
.seats_choice_list_input:focus + label {
  background-color: #f03939;
  border: 3px solid #000;
}
.seats_choice_list_input:checked + label {
  background-color: #f03939;
  border: 3px solid #000;
}
.seats_choice_list_ticket {
  height: 150px;
  width: 300px;
  text-align: center;
  color: #f0f8ff;
  background-color: indigo;
  margin: 10px;
}
.basket {
  height: 200px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #7e2828;
  font-size: 22px;
}
.basket span {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.basket h4 {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}
.basket_btn {
  padding: 10px;
  color: #fdfdfd;
  border: 3px solid rgba(92, 0, 0, 0.4);
}
.basket input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.basket input:hover + label {
  background-color: red;
  -webkit-transition: 1s;
  transition: 1s;
}
.basket input:focus + label {
  border: 3px solid #000;
}
.basket input:checked + label {
  background-color: #f03939;
  border: 3px solid #000;
}
.message_wrapper {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 1;
  background-color: #7fffd4;
}
.message_wrapper span {
  font-size: 50px;
}
.message_wrapper a {
  font-size: 40px;
}
@media only screen and (min-width: 510px) and (max-width: 920px) {
  .container {
    max-width: 750px;
    margin: 0 auto;
  }
  .content {
    max-width: 750px;
    margin: 0 auto;
    -ms-grid-columns: (1fr) [1];
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .summary {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    font-size: medium;
  }
  .summary_inner {
    display: none;
  }
  .seats_choice {
    height: 350px;
  }
  .seats_choice_list {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
  .seats_choice_list_ticket {
    width: 200px;
    height: 100px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 509px) {
  body {
    margin: 0;
  }
  .container {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 12px;
    background-color: inherit;
  }
  .content {
    -ms-grid-columns: (1fr) [1];
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .placement {
    height: 100%;
  }
  .navigation {
    width: 40px;
    height: 40px;
    margin: 0;
    position: absolute;
  }
  .navigation_items {
    height: 500px;
    width: 200px;
    position: relative;
    top: 70px;
    display: none;
    -ms-grid-rows: (1fr) [4];
    grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: 0;
    grid-template-columns: 0;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(1%, #776d6a),
      to(#c9c9d6)
    );
    background: linear-gradient(90deg, #776d6a 1%, #c9c9d6 100%);
    z-index: 1;
  }
  .navigation_item {
    width: 200px;
    position: relative;
    left: 100px;
  }
  .navigation .popup {
    display: block;
    width: 40px;
    position: absolute;
    top: -20px;
  }
  .navigation .popup input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  .navigation .popup input:checked + img {
    border: solid 3px #ebba1b;
  }
  .navigation .popup img {
    width: 40px;
    height: 40px;
    border: solid 3px #f0f8ff;
    border-radius: 5px;
  }
  .time_wrap {
    margin: 10px;
  }
  .time_wrap_lists_item {
    font-size: 18px;
  }
  .hall {
    width: calc(100% - 2%);
    padding: 0;
    margin: 10px 0;
    gap: 2px;
  }
  .hall_seat {
    width: 25px;
    height: 25px;
  }
  .hall_seat_number {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .hall_seat_input {
    width: 25px;
    height: 25px;
  }
  .seats_status_item {
    padding: 20px;
    font-size: 16px;
  }
  .seats_status_item::before {
    width: 20px;
    height: 20px;
    left: 0;
  }
  .summary {
    height: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    font-size: medium;
  }
  .summary_inner {
    display: none;
  }
  .seats_choice {
    height: 350px;
  }
  .seats_choice_list {
    -ms-grid-columns: 1;
    grid-template-columns: 1;
  }
  .seats_choice_list_ticket {
    width: 200px;
    height: 100px;
  }
}
