.container {
  max-width: 1500px;
  background: rgb(201, 201, 214);
  margin: 0 auto;
}

.top {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(119, 109, 106, 1) 1%,
    rgba(201, 201, 214, 1) 100%
  );
  border-radius: 10px;
}

.navigation {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.navigation_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0em;
}

.navigation_item {
  display: grid;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  align-self: center;
  justify-self: center;
  border: 10px solid;
  border-color: transparent;
  opacity: 0.6;
}

.navigation_item:hover {
  border: 10px solid;
  border-left-style: none;
  border-right-style: none;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}

.navigation_item:active {
  opacity: 1;
  font-weight: 700;
}

.navigation_item a {
  font-size: 26px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
}

.navigation_item-choisen {
  font-weight: 700;
  border: 10px solid;
  border-radius: 10px;
  border-left-style: none;
  border-right-style: none;
  border-color: rgb(0, 0, 0);
  opacity: 1;
}

.content {
  display: grid;
  width: 100%;
  max-height: 100%;
  grid-template-columns: repeat(2, minmax(400px, 750px));
  gap: 1em;
  margin-top: 10px;
  border-radius: 10px;
}

.placement {
  display: grid;
  grid-template-rows: repeat(6, [row] 1fr);
  background-image: url(./Images/background.jpg);
  width: 100%;
  height: 925px;
  background-repeat: no-repeat;
}

.screen {
  display: grid;
  width: 80%;
  padding: 15px;
  text-align: center;
  justify-self: center;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0.8;
  order: 3;
}

.screen p {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.calendar_wrap {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  list-style-type: none;
  order: 1;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column: span 5;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.calendar_item {
  text-align: center;
  font-size: 24px;
  text-decoration: none;
}

.calendar_item_link {
  text-decoration: none;
  color: aliceblue;
}

.calendar_item_link:hover {
  transition: text-decoration 0.5s;
  font-weight: bolder;
}

.calendar_item_link:active {
  font-weight: bolder;
  color: darkturquoise;
}

.calendar_item_link-choisen {
  font-weight: bolder;
  color: darkturquoise;
}

.btn_prevDay {
  text-align: center;
  text-decoration: none;
  color: aliceblue;
}

.btn_prevDay:active {
  color: darkturquoise;
}

.btn_prevDay:hover {
  border: 1px solid;
}

.btn_nextDay {
  text-align: center;
  text-decoration: none;
  color: aliceblue;
}

.btn_nextDay:active {
  color: darkturquoise;
}

.btn_nextDay:hover {
  border: 1px solid;
}

.time_wrap {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: rgba(0, 0, 0, 0.6);
  order: 2;
}

.time_wrap_title {
  font-size: 24px;
  font-weight: bolder;
  padding-left: 2em;
  color: aliceblue;
  letter-spacing: 4px;
}

.time_wrap_inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

.time_item {
  text-align: center;
}

.time_item a {
  font-size: 24px;
  text-decoration: none;
  color: aliceblue;
}

.time_item a:hover {
  border: 1px solid;
  border-color: darkturquoise;
}

.time_item a:active {
  color: darkturquoise;
}

.hall_status {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  order: 5;
}

.seats_item {
  position: relative;
  font-size: 22px;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 40px;
  text-align: center;
}

.seats_item::before {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 10px;
}

.seats_available::before {
  background: grey;
}

.seats_taken::before {
  background: rgb(240, 57, 57);
}

.seats_selected::before {
  background: blue;
}

.seats {
  display: grid;
  grid-row: span 2;
  grid-template-columns: repeat(10, 1fr);
  min-width: 400px;
  padding: 10px;
  justify-self: center;
  border: rgb(216, 208, 208) solid;
  background-color: rgba(255, 255, 255, 0.6);
  order: 4;
}

.seat {
  align-self: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.seat_input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
}

.seat_number {
  position: relative;
  z-index: 2;
  top: 3px;
  left: 4px;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  background: rgb(95, 90, 90);
  color: rgb(255, 255, 255);
  transition: all ease-in-out 0.3s;
}

.seat_input:checked + .seat_number {
  background: blue;
  font-weight: bold;
}

.seat_input:disabled + .seat_number {
  background: rgb(240, 57, 57);
  color: rgb(33, 0, 118);
  font-weight: bold;
}

.summary {
  background-image: url(./Images/back-2.jpg);
  background-repeat: no-repeat;
  width: 100%;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.summary_inner {
  background: rgba(0, 0, 0, 0.6);
  color: aliceblue;
  padding: 10px;
  margin: 60px 20px 0px;
}

@media only screen and (min-width: 420px) and (max-width: 920px) {
  .container {
    max-width: 750px;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .summary {
    display: none;
  }
}
