* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #9b9b9b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainContainer {
  display: flex;
  width: 70%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  background-color: #f6edea;
}

.screenImg {
  fill: grey;
}

.screenImg:hover {
  fill: black;
}

.screenText {
  text-align: center;
  margin-bottom: 10px;
}

.posterContainer,
.cinemaContainer {
  position: relative;
  margin-top: 16px;
}

.posterImg,
.seat,
.hiddenCheckbox:checked + .seat,
.rowVip .hiddenCheckbox:checked + .seat,
.mainContainer,
.badgeSeat.lux,
.badgeSeat.vip,
.booking {
  box-shadow: 2px 3px 4px #020204;
}

.posterImg {
  width: 250px;
  height: 360px;
  position: relative;
}

.badgeSeat.lux {
  background-color: #e0730e;
}

.badge,
.legend {
  display: flex;
}

.badgeSeat,
.ticketType {
  position: relative;
  padding-left: 10px;
}

.occupiedSeat,
.blockedSeat {
  position: relative;
  height: 40px;
  width: 30px;
  box-shadow: 2px 3px 4px #020204;
}

.description {
  padding-left: 5px;
}

.booking {
  font-size: 16px;
  border-radius: 5%;
}

.submitButton {
  padding-left: 20px;
  padding-top: 20px;
  text-align: center;
}

.filmInfo {
  position: relative;
  width: 100%;
  height: 200px;
  margin-left: 20px;
  line-height: 25px;
  margin-bottom: -30px;
}

.cinemaContainer {
  width: 100%;
  height: 100%;
}

.seats {
  height: 280px;
  position: relative;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.seat {
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
  background-color: #e0730e;
}

.rowVip .seat,
.badgeSeat.vip {
  background-color: #bf4f0f;
}

.empty {
  visibility: hidden;
}

hr {
  margin-bottom: 10px;
}

.seat:focus {
  outline: none;
  box-shadow: 6px 6px 5px black;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
}

.hiddenCheckbox:hover + .seatLabel .seat,
.hiddenCheckbox:focus + .seatLabel .seat {
  cursor: pointer;
}

.seat .hiddenCheckbox.disabled {
  pointer-events: none;
}

.hiddenCheckbox {
  opacity: 0;
  position: absolute;
  height: 1px;
  width: 1px;
}

.hiddenCheckbox:checked + .seatLabel .seat,
.seat.booked,
.booking,
.occupiedSeat {
  background-color: #b09a86;
}

.hiddenCheckbox:checked + .seatLabel .seat,
.rowVip .hiddenCheckbox:checked + .seat {
  background-color: #a32432;
}

.hiddenCheckbox.disabled.notActive + .seatLabel .seat,
.blockedSeat {
  background-color: #ef4222;
  cursor: not-allowed;
}

.hiddenCheckbox.booked + .seatLabel .seat.booked {
  cursor: not-allowed;
}

.booking:hover,
.booking:focus,
.booking:active {
  background-color: #eba963;
}

@media screen and (min-width: 300px) {
  .mainContainer {
    width: 90%;
    height: 900px;
    flex-direction: column;
  }

  .posterContainer {
    padding-top: 20px;
    padding-left: 10px;
  }

  .posterImg {
    width: 200px;
    height: 280px;
  }

  .poster {
    display: flex;
    position: relative;
    justify-content: center;
  }

  .badge {
    flex-direction: row;
  }

  .badge,
  .legend {
    padding: 10px 0 10px 0;
    justify-content: flex-start;
  }

  .description,
  .ticketType {
    padding-right: 30px;
  }

  .badgeSeat.lux,
  .badgeSeat.vip,
  .occupiedSeat,
  .blockedSeat {
    width: 20px;
    height: 30px;
    flex-shrink: 0;
  }

  .filmTitle {
    font-size: 18px;
  }

  .filmInfo {
    font-size: 14px;
    margin-top: -10px;
  }

  .seats {
    width: 280px;
  }

  .seat {
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid black;
    display: inline-block;
  }

  .booking {
    width: 150px;
    height: 30px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 600px) {
  .mainContainer {
    flex-direction: row;
  }

  .posterContainer {
    flex-direction: row;
    margin-top: 35px;
  }

  .badge,
  .legend {
    justify-content: space-between;
  }

  .filmInfo {
    width: 80%;
    margin-top: 35px;
  }

  .seats {
    width: 250px;
  }
}

@media screen and (min-width: 800px) {
  .mainContainer {
    flex-direction: row;
    width: 70%;
  }

  .booking {
    width: 180px;
    height: 40px;
    margin-bottom: 30px;
  }

  .posterImg {
    width: 250px;
    height: 360px;
  }

  .badgeSeat.lux,
  .badgeSeat.vip,
  .occupiedSeat,
  .blockedSeat {
    width: 30px;
    height: 40px;
  }

  .filmTitle {
    font-size: 19px;
  }
}

@media screen and (min-width: 1100px) {
  .booking {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
  }

  .seat {
    width: 45px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid black;
    display: inline-block;
  }

  .seats {
    width: 450px;
  }

  .filmTitle {
    font-size: 20px;
  }
}
